For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
val = 0
y= []
for i in df['X']: # Iterate through each value of dataframe column X
    if i != 0:
        val += 1
    else:
        val = 0
    y.append(val) # Update the value to a list of values for column Y
df['Y']=y # Assing these list of values to df['Y']
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [8]:
import numpy as np
date_time_index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') # Creating a datetime Index for each business day in 2015
s = pd.Series(np.random.rand(len(date_time_index))*100, index=date_time_index) # Create a series with random numbers 
s.head() # Print the head of series

2015-01-01    62.417758
2015-01-02    89.898534
2015-01-05    63.775103
2015-01-06     2.830076
2015-01-07    63.006110
Freq: B, dtype: float64

Find the sum of the values in s for every Wednesday

In [9]:
s[date_time_index.weekday == 2].sum() # weekday =2 signifies Wednesday and summing all such values

2897.0207018470915

Average For each calendar month

In [11]:
s.resample('M').mean() # Calculate the average of each month 'M' signifies month here

2015-01-31    49.879829
2015-02-28    49.174921
2015-03-31    49.170873
2015-04-30    43.968607
2015-05-31    50.863964
2015-06-30    54.671676
2015-07-31    47.525178
2015-08-31    38.257960
2015-09-30    57.073240
2015-10-31    43.228727
2015-11-30    47.869283
2015-12-31    44.225870
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [12]:
s.groupby(pd.TimeGrouper('4M')).idxmax() # Select the index with max value in group of four months period

2015-01-31   2015-01-22
2015-05-31   2015-02-16
2015-09-30   2015-06-05
2016-01-31   2015-12-28
Freq: 4M, dtype: datetime64[ns]